<mat-tab-group class="__default"
               disableRipple="true"
               animationDuration="400ms"
               (animationDone)="onAnimationDone()"
               (selectedTabChange)="onSelectedTabChange($event.index)">
  <mat-tab [label]="('product.class.' + product.class) | translate" *ngFor="let product of products">
  </mat-tab>
  <mat-tab disabled *ngIf="!isSmall && products">
    <ng-template mat-tab-label>
      <ng-content></ng-content>
    </ng-template>
  </mat-tab>
</mat-tab-group>
