<router-outlet name="promo"></router-outlet>
<header class="header__wrapper">
  <div class="header container-fluid">
    <div class="row __full-h">
      <div class="col-sm-12 col-lg-12 __full-h __justify-beetwen __align-center">
        <a class="header__logo" routerLink="/">
          <mat-icon svgIcon="logo"
                    class="__h20 __mt2 __baltic-sea"
                    [ngClass]="{'__w145': isSmall,
                                '__w188': !isSmall }">
          </mat-icon>
        </a>

        <app-header-menu></app-header-menu>
      </div>
    </div>
  </div>
</header>