<ul class="hidden-md header-menu" *ngIf="!isSmall">
  <ng-template ngFor [ngForOf]="menuItems" let-item>
    <li class="header-menu__item">
      <a [href]="item.url"
          *ngIf="item.url"
          class="header-menu__link"
          [ngClass]="{'__no-hover': item.theme === 'no-hover'}">
        {{item.key | translate}}
      </a>

      <a [routerLink]="item.routerLink"
          *ngIf="item.routerLink"
          class="header-menu__link"
          [ngClass]="{'__no-hover': item.theme === 'no-hover'}">
        {{item.key | translate}}
        <mat-icon [svgIcon]="item.icon" *ngIf="item.icon" class="__s36 __ml16"></mat-icon>
      </a>
    </li>
  </ng-template>
</ul>

<ng-template [ngIf]="isSmall">
  <button class="hamburger-icon"
          [ngClass]="{'__expanded': isMenuExpanded$ | async}"
          (click)="toggleMenu()">
    <span class="hamburger-icon__line"></span>
    <span class="hamburger-icon__line"></span>
    <span class="hamburger-icon__line"></span>
  </button>
</ng-template>
