<form [formGroup]="orderForm">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 __column __align-center">
        <app-menu-header [orderForm]="orderForm" [offersSetter]="offers"></app-menu-header>

        <app-tabs class="menu__tabs"
                  [products]="products"
                  (animationDone)="removeSliderAnimation()"
                  (selectedTabChange)="updateMenuClass($event)">
          <a [href]="tabWithLink.url" class="tabs__link">
            {{tabWithLink.key | translate}}
            <mat-icon svgIcon="arrow-in-rectangle" class="__s16 __ml8 __mercury"></mat-icon>
          </a>
        </app-tabs>

        <label formArrayName="defaultSet" *ngFor="let good of product.availableGoodsModels; let $index = index" style="display: block">
          <span>{{good.name}}: </span>
          <input type="checkbox" [formControlName]="$index">
        </label>

        <h2>доп:</h2>

        <label formArrayName="additionalSet" *ngFor="let product of additionalProducts; let $index = index" style="display: block">
          <span>{{product.name}}: </span>
          <input type="checkbox" [formControlName]="$index">
        </label>

        <h2>молоко и сыр:</h2>
        <label formArrayName="additionalMilkSet" *ngFor="let product of additionalMilkProducts; let $index = index" style="display: block">
          <span>{{product.name}}: </span>
          <input type="checkbox" [formControlName]="$index">
        </label>
      </div>
    </div>
  </div>
</form>
