<mat-sidenav-container class="__default"
                       (backdropClick)="hideSidenav()">
  <mat-sidenav #sidenav
               class="__white"
               mode="over"
               position="end"
               fixedInViewport="true"
               fixedTopGap="0">
    <div class="mat-sidenav__wrapper">
      <div class="mat-sidenav__header">
        <button class="button-icon __s48" (click)="hideSidenav()">
          <mat-icon class="__s20 __shaft __rotate180" svgIcon="arrow-right"></mat-icon>
        </button>
      </div>
    </div>
    <app-product-details-list></app-product-details-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <form [formGroup]="orderForm">
      <app-menu-header></app-menu-header>

      <app-tabs class="menu__tabs"
                [products]="products"
                [selectedIndex]="defaultProductIndex"
                (selectedTabChange)="updateMenuClass($event)">
        <a [href]="tabWithLink.url" class="tabs__link">
          {{tabWithLink.key | translate}}
          <mat-icon svgIcon="arrow-in-rectangle" class="__s16 __ml8 __mercury"></mat-icon>
        </a>
      </app-tabs>

      <app-menu-default-set [product]="defaultProduct"></app-menu-default-set>

      <app-menu-additional-set></app-menu-additional-set>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
