<form [formGroup]="orderForm" cdk-scrollable>
  <app-menu-header></app-menu-header>

  <app-tabs class="menu__tabs"
            [products]="products"
            (animationDone)="removeSliderAnimation()"
            [selectedIndex]="productIndex"
            (selectedTabChange)="updateMenuClass($event)">
    <a [href]="tabWithLink.url" class="tabs__link">
      {{tabWithLink.key | translate}}
      <mat-icon svgIcon="arrow-in-rectangle" class="__s16 __ml8 __mercury"></mat-icon>
    </a>
  </app-tabs>

  <app-menu-default-set></app-menu-default-set>

  <app-menu-additional-set></app-menu-additional-set>
</form>
