<div class="menu-default">
  <app-menu-details></app-menu-details>

  <div class="container __mw800">
    <div class="row">
      <div class="col-sm-12 __column __align-center">
        <div class="menu-default__item" *ngFor="let good of product.defaultGoodsModels">
          <img class="menu-default__img"
               [src]="good.images.rectangular.s840x454"
               [alt]="good.name"
               (click)="showDetails()">

          <div class="menu-default__main">
            <h3 class="menu-default__title">{{good.name}}</h3>

            <div class="menu-default__buttons">
              <button class="button-inline __ceruleanblue-underline" (click)="showDetails()">Подробнее</button>
              <button class="button-inline __ceruleanblue-underline">Заменить блюдо</button>
            </div>
          </div>

          <p class="menu-default__details">
            <mat-icon svgIcon="clock" class="__s12 __mr8"></mat-icon>
            {{good.cookingTime}} {{'common.dimensions.min' | translate}}
            {{'common.dimensions.in-100-g' | translate}}
            {{'product.nutritional-value.proteins' | translate}} - {{good.nutritionalValue.proteins}},
            {{'product.nutritional-value.fats' | translate}} - {{good.nutritionalValue.fats}},
            {{'product.nutritional-value.carbohydrates' | translate}} - {{good.nutritionalValue.carbohydrates}},
            {{'product.nutritional-value.kcal' | translate}} - {{good.nutritionalValue.calories}}
          </p>

          <div class="menu-default__tags">
            <span class="menu-default__tags-item" *ngFor="let tag of good.tags">{{tag}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
