@import '../../../../assets/styles/variables';

.menu-default {
  padding-top: 12px;
  padding-bottom: 24px;
  border-top: 1px solid $gallery;
  border-bottom: 1px solid $gallery;
  background-color: $alabaster;
}
