<div class="menu-examples container">
  <div class="row">
    <div class="col-sm-12 col-lg-12 __column __align-center">
      <h2>{{'main-page.menu-examples.title' | translate}}:</h2>

      <p class="menu-examples__delivery-info">
        {{'common.delivery.dates' | translate }} {{currentProduct.availabilityDates | deliveryDates}}
      </p>
    </div>
  </div>
</div>

<div class="menu-examples __slider">
  <app-tabs [products]="products"
            (animationDone)="removeSliderAnimation()"
            (selectedTabChange)="updateSliderData($event)">
    <a [href]="tabWithLink.url" class="tabs__link">
      {{tabWithLink.key | translate}}
      <mat-icon svgIcon="arrow-in-rectangle" class="__s16 __ml8 __mercury"></mat-icon>
    </a>
  </app-tabs>

  <div class="menu-examples__slider-wrapper" #swiperWrapper>
    <div class="menu-examples__slider swiper-container" [swiper]="swiperConfig">
      <div class="swiper-wrapper">
        <div class="menu-examples__slider-slide swiper-slide __menu-expample" *ngFor="let good of currentProduct.defaultGoodsModels" (click)="changeSlide($event)">
          <div class="menu-examples__slider-item">
            <img [src]="good.images.rectangular.s840x454 | safeUrl" width="100%" height="auto" [alt]="good.name">
            <h5 class="menu-examples__slider-title">{{('common.days.number' + good.dayNumber) | translate}}: {{good.name}}</h5>
            <p class="menu-examples__slider-descr">
              <span>
                <mat-icon svgIcon="clock" class="__s12 __mr4"></mat-icon>
                {{good.cookingTime}} {{'common.dimensions.min' | translate}}
              </span>

              <span>
                {{'product.nutritional-value.proteins' | translate}} -
                {{good.nutritionalValue.proteins}}{{'common.dimensions.gram' | translate}}
              </span>

              <span>
                {{'product.nutritional-value.fats' | translate}} -
                {{good.nutritionalValue.fats}}{{'common.dimensions.gram' | translate}}
              </span>

              <span>
                {{'product.nutritional-value.carbohydrates' | translate}} -
                {{good.nutritionalValue.carbohydrates}}{{'common.dimensions.gram' | translate}}
              </span>

              <span>
                {{'product.nutritional-value.calories' | translate}} -
                {{good.nutritionalValue.calories}}{{'common.dimensions.kcal' | translate}}
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="menu-examples__slider-pagination"></div>

      <div class="menu-examples__slider-nav">
        <button class="menu-examples__slider-nav-prev">
          <mat-icon svgIcon="arrow-right" class="__s16 __rotate180"></mat-icon>
        </button>
    
        <button class="menu-examples__slider-nav-next">
          <mat-icon svgIcon="arrow-right" class="__s16"></mat-icon>
        </button>
      </div>

      <div class="menu-examples__slider-select" (click)="onSelectMenuClick()">
        <button class="button-default __w240 __h40">{{'main-page.menu-examples.btn-text' | translate}}</button>
      </div>
    </div>
  </div>
</div>
