@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/swiper";

.order-steps {
  margin-top: 72px;
  overflow: hidden;

  @media screen and (max-width: $bp-sm) {
    margin-top: 48px;
  }

  &__title {
    max-width: 580px;
    margin: auto;
    text-align: center;
  }

  &__slider {
    width: 920px;
    margin: auto;
    margin-top: 64px;

    @media screen and (max-width: $bp-md) {
      width: 744px;
    }

    @media screen and (max-width: $bp-sm) {
      width: 250px;
      margin: auto;
      margin-top: 28px;
    }

    &-item {
      display: flex;
      position: relative;
      width: 306.6px;

      @media screen and (max-width: $bp-md) {
        width: 248px;
      }

      @media screen and (max-width: $bp-sm) {
        width: 250px;
      }
    }

    &-text {
      width: 230px;
      margin: auto;
      margin-top: 342px;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
      text-align: center;

      @media screen and (max-width: $bp-md) {
        margin-top: 276px;
      }
    }

    &-image {
      position: absolute;
      top: 0;
      width: 920px;
      height: 333px;
      background-image: url("../../../../assets/img/main-page/how-it-works.png");
      background-position: center;
      background-size: 920px 333px;

      @media screen and (max-width: $bp-md) {
        width: 744px;
        height: 268px;
        background-size: 744px 268px;
      }

      @media screen and (max-width: $bp-sm) {
        width: 750px;
        height: 270px;
        background-size: 750px 270px;
      }
    }

    &-pagination {
      @extend %swiper-pagination;
    }

    &-bullet {
      @extend %swiper-bullet;

      &-active {
        @extend %swiper-bullet-active;
      }
    }
  }
}
