@import "../../../../../assets/styles/variables";

:host {
  display: flex;
}

.menu-details {
  &__select {

    &.__w108 {
      width: 108px;
    }

    &.__w140 {
      width: 140px;
    }
   }
}
