<div class="menu-details"
     [ngStyle]="styles">
  <div class="container __mw800">
  <div class="row">
    <div class="col-sm-12 __align-center"
         [ngClass]="{'__no-indent': !isSmall}">
      <mat-form-field [formGroup]="orderForm" class="__select __mr8">
        <mat-select formControlName="goodsCount"
                    disableOptionCentering
                    disableRipple="true"
                    class="__accent"
                    [ngClass]="{'__w140': !isMobile,
                                '__w112 __fz16': isMobile}">
          <mat-option *ngFor="let option of goodsCountsOptions"
                      [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [formGroup]="orderForm" class="__select">
        <mat-select formControlName="personAmount"
                    disableOptionCentering
                    disableRipple="true"
                    class="__accent"
                    [ngClass]="{'__w108': !isMobile,
                                '__w88 __fz16': isMobile}">
          <mat-option *ngFor="let option of personsAmountOptions"
                      [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="menu-details__price">
        {{totalPriceWithSale | priceCurrency:'0.2':true:'rub'}}
      </div>

      <div class="menu-details__price-icon"
            #priceTooltip="matTooltip"
            [matTooltip]="'menu.details.price-tooltip' | translate: priceTooltipTranslateProps"
            matTooltipClass="__price-arrow-up"
            matTooltipHideDelay="200"
            matTooltipPosition="left"
            (click)="priceTooltip.show()">
        i
      </div>

      <div class="menu-details__actions">
        <button class="button-inline __boulder-underlined"
                [ngClass]="{'__fz16': isMobile}">
          {{'menu.details.change-recipe' | translate}}
        </button>

        <button class="button-default __h40"
                [ngClass]="{'__w188': !isMobile}">
          {{'menu.details.create-order' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
</div>
