$icon-sizes: 12, 16, 18, 20, 36, 68;
$icon-widths: 188, 145, 132, 93, 83, 72;
$icon-heights: 16, 20, 28, 40;
$icon-colors: ("white": $white, "baltic-sea": $baltic-sea, "boulder": $boulder, "mercury": $mercury, "cerulean-blue": $cerulean-blue);
$icon-margin-left: 8, 10, 16;
$icon-margin-right: 4, 8, 12, 16;
$icon-margin-top: 2, 4;
$opacity-list: 30;

.mat-icon {
  flex-shrink: 0;

  @each $size in $icon-sizes {
    &.__s#{$size} {
      width: #{$size}px !important;
      height: #{$size}px !important;
      font-size: #{$size}px;
      line-height: #{$size}px;
    }
  }
  
  @each $width in $icon-widths {
    &.__w#{$width} {
      width: #{$width}px !important;
    }
  }
 
  @each $height in $icon-heights {
    &.__h#{$height} {
      height: #{$height}px !important;
    }
  }

  @each $name, $color in $icon-colors {
    &.__#{$name} {
      color: #{$color};
    }
  }
  
  @each $indent in $icon-margin-left {
    &.__ml#{$indent} {
      margin-left: #{$indent}px;
    }
  }

  @each $indent in $icon-margin-right {
    &.__mr#{$indent} {
      margin-right: #{$indent}px;
    }
  }

  @each $indent in $icon-margin-top {
    &.__mt#{$indent} {
      margin-top: #{$indent}px;
    }
  }
  @each $opacity in $opacity-list {
    &.__op#{$opacity} {
      opacity: $opacity / 100;
    }
  }

  &.__rotate180 {
    transform: rotate(180deg);
  }
}
