.mat-form-field.__select {
  .mat-select {
    &.cdk-keyboard-focused {
      @extend %focus-de-york;
    }

    &[aria-owns] {
      .mat-select-arrow {
        transform: rotate(180deg);
      }
    }

    &-value {
      max-width: none;
      color: $cerulean-blue;
    }

    &-arrow {
      width: 14px;
      height: 9px;
      margin: 0;
      margin-left: 12px;
      transition-duration: $duration-fast;
      border: 0;
      background-image: url("../img/background/select-arr.svg");

      &-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.__accent {
      padding: 8px;
      transition: border-color $duration-fast;
      border: 1px solid $gallery;
      border-radius: 4px;
      color: $mine-shaft;
      font-size: 18px;
      line-height: 24px;
      box-sizing: border-box;

      &:hover {
        border-color: $boulder;
      }

      .mat-select {
        &-arrow {
          background-image: url("../img/background/select-arr-dark.svg");

        }

        &-value {
          color: $mine-shaft;
        }

        &-trigger {
          width: calc(100% - 26px);
       }
      }
    }

    &.__fz16 {
      font-size: 16px;
    }

    // TODO: create mixin for modificators
    &.__w140 {
      width: 140px;
    }

    &.__w112 {
      width: 112px;
    }

    &.__w108 {
      width: 108px;
    }

    &.__w88 {
      width: 88px;
    }
  }
}
