.mat-drawer-container {
  z-index: auto !important;
}

mat-sidenav-container {
  &.__default {
    position: static !important;
    z-index: auto !important;

    mat-sidenav-content {
      position: static !important;
      z-index: auto !important;
    }

    .mat-drawer-backdrop {
      position: fixed;
      transition-property: opacity !important;
      background-color: rgba($black, .4);
      opacity: 0;
      z-index: 200;

      &.mat-drawer-shown {
        opacity: 1 !important;
      }
    }

    mat-sidenav {
      z-index: 210;
      height: auto;
    }
  }
}

mat-sidenav {
  &.__white {
    background-color: $white;
  }
}

.mat-sidenav {
  &__header {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 8px;
    background-color: $white;
    box-shadow: 0 2px 3px 0 rgba($black, .08);
    box-sizing: border-box;

    @media screen and (max-width: $bp-md) {
      height: 48px;
    }
  }

  &__wrapper {
    height: 60px;
  }

  @media screen and (max-width: $bp-md) {
    height: 48px;
  }
}
