.mat-tooltip {
  &.__price-arrow-up {
    position: relative;
    top: 65px;
    right: -26px;
    width: 230px;
    height: 130px;
    margin: 0 !important;
    padding: 42px 28px 26px !important;
    border-radius: 0;
    background-image: url("../img/background/tooltip-with-arrow-up.svg");
    background-size: 230px 130px;
    color: $shaft !important;
    font-family: $ffreg !important;
    font-size: 14px !important;
    line-height: 22px !important;
    z-index: 1010;
    box-sizing: border-box;
  }
}
