@import "variables";

:host {
  display: block;
  margin-top: 36px;
  color: $mine-shaft;
}

.additinal-product {
  &__img {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;

    &.__disabled {
      &:after {
        position: absolute;
        top: 25px;
        left: -42px;
        padding: 10px 40px 8px;
        transform: rotate(-45deg);
        background-color: $cerulean-blue;
        color: $white;
        text-transform: uppercase;
        content: "Распродано";
      }
    }

    &-wrap {
      display: flex;
      align-items: flex-start;

      &:hover {
        .additinal-product__img-icon {
          transform: rotate(45deg) scale(1.2);
        }
      }

      &.__multiple {
        width: 50%;
      }

      &.__disabled {
        opacity: .5;
      }

      &.__last {
        position: relative;

        &:before {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba($black, .5);
          content: "";
          z-index: 70;
        }
      }
    }

    &-icon {
      display: block;
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      width: 16px;
      height: 16px;
      transform: rotate(45deg);
      transition: ease $duration-fast;
      color: $white;
      content: "";
      z-index: 80;
    }

    &-item {
      max-width: 100%;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  }

  &__title {
    color: $mine-shaft;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
  }

  &__descr {
    margin-top: 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
  }

  &__list {
    &-item {
      margin-top: 4px;

      &-index {
        padding-right: 8px;
        padding-left: 4px;
      }
    }
  }

  &__check {
    &box {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      transition: ease $duration-fast;
      border: 1px solid $cerulean-blue;
      border-radius: 50%;
      background-color: $white;
      color: $white;
      cursor: pointer;

      &:hover {
        color: $cerulean-blue;
      }
    }

    [type=checkbox] {
      &:checked + .additinal-product__checkbox {
        background-color: $cerulean-blue;

        &:hover {
          color: $white;
        }
      }

      &:disabled + .additinal-product__checkbox {
        border-color: $alto;
        background-color: $white;
        color: $white;
        cursor: not-allowed;

        &:hover {
          border-color: $alto;
          background-color: $white;
          color: $white;
        }
      }

      &.cdk-keyboard-focused + .additinal-product__checkbox {
        box-shadow: 0 0 4px 4px $de-york;
      }
    }
  }

  &__constructor {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
}
