@import "../../../../assets/styles/variables";

.mobile-app {
  padding-top: 116px;
  background-color: $zircon;

  @media screen and (max-width: $bp-tablet) {
    padding-top: 16px;
    padding-bottom: 88px;
  }

  &__wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    @media screen and (max-width: $bp-tablet) {
      display: block;
    }
  }

  &__image {
    flex-shrink: 0;
    width: 460px;
    height: 392px;
    background-image: url("../../../../assets/img/main-page/mobile-app/phone-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    @media screen and (max-width: $bp-tablet) {
      width: 100vw;
      height: 100vw;
      background-image: url("../../../../assets/img/main-page/mobile-app/phone-mobile.png");
    }
  }

  &__content {
    max-width: 325px;
    margin-top: -24px;

    @media screen and (max-width: $bp-tablet) {
      max-width: 767px;
      margin-top: 0;
      padding-right: 16px;
      padding-left: 32px;
    }
  }

  &__title {
    text-align: left;
  }

  &__advantages {
    margin-top: 36px;

    &-item {
      display: flex;
      max-width: 262px;
      margin-bottom: 12px;
      font-size: 18px;
      line-height: 24px;

      @media screen and (max-width: $bp-tablet) {
        max-width: 300px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__links {
    display: flex;
    margin-top: 40px;
  }

  &__link {
    display: inline-block;
    width: 132px;
    height: 40px;
    margin-right: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @media screen and (max-width: $bp-tablet) {
      margin-right: 8px;
    }

    &.__apple {
      background-image: url("../../../../assets/img/icons/appstore-badge.svg");
    }

    &.__google {
      background-image: url("../../../../assets/img/icons/google-play-badge.svg");
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
