.mat-icon-button {
  &.__bg-white30 {
    background-color: rgba($white, .3);
  }
}

.button {
  &-default {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12px;
    padding-left: 12px;
    transition-duration: $duration-fast;
    border-radius: 4px;
    background-color: $cerulean-blue;
    color: $white;
    font-family: $ffreg;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    z-index: 1;

    &:hover {
      background-color: $biscay;
    }

    &:active {
      background-color: $cerulean-blue;
    }

    &:disabled {
      background-color: $mercury;
      cursor: not-allowed;
    }

    &.__w188 {
      width: 188px;
    }

    &.__w240 {
      width: 240px;
    }

    &.__h36 {
      height: 36px;
    }

    &.__h40 {
      height: 40px;
    }

    &.__ml20 {
      margin-left: 20px;
    }

    &.__br6 {
      border-radius: 6px;
    }

    &.__bg-white15-28-40 {
      background-color: rgba($white, .15);

      &:hover {
        background-color: rgba($white, .28);
      }

      &:active {
        background-color: rgba($white, .4);
      }
    }

    &.__dur-fast {
      transition-duration: $duration-fast;
    }
  }

  &-inline {
    display: flex;
    align-items: center;
    color: $white;
    font-size: 14px;
    cursor: pointer;

    &.__boulder-underlined {
      height: 22px;
      transition-duration: $duration-fast;
      border-bottom: 1px dashed rgba($boulder, .6);
      color: $boulder;
      font-family: $ffreg;
      font-size: 18px;

      &:hover {
        border-color: transparent;
        color: rgba($boulder, .8);
      }

      &:active {
        border-color: rgba($boulder, .6);
        color: $boulder;
      }
    }

    &.__ceruleanblue-underline {
      height: 14px;
      margin: 2px 12px;
      transition-duration: $duration-fast;
      border-bottom: 1px solid rgba($cerulean-blue, .4);
      color: $cerulean-blue;
      font-family: $ffreg;
      font-size: 14px;
      font-weight: 100;
      line-height: 14px;

      &:hover {
        border-bottom-color: $cerulean-blue;
      }

      &:active {
        border-bottom-color: rgba($cerulean-blue, .4);
      }
    }

    &.__fz16 {
      font-size: 16px;
    }
  }

  &-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.__s48 {
      width: 48px;
      height: 48px;
    }
  }
}
