@mixin add-font($name, $filename, $style: normal, $weight: normal) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: local($name),
         url("../fonts/#{$filename}.woff2") format("woff2"),
         url("../fonts/#{$filename}.woff") format("woff"),
         url("../fonts/#{$filename}.ttf") format("truetype");
  }
}

@include add-font("Circe", "circe-regular", "normal", 400);
@include add-font("Noto Serif", "noto-serif", "italic", "400");
@include add-font("Noto Serif", "noto-serif-cyr", "italic", "400");
