// breakpoints
$bp-sm: 600px;
$bp-tablet: 767px;
$bp-md: 960px;
$bp-lg: 1199px;
$bp-elg: 1439px;

// fonts
$ffreg: "Circe";
$ffns: "Noto Serif", sans-serif;

// colors
$alto: #dadada;
$alabaster: #f9f9f9;
$black: #000;
$baltic-sea: #1a171b;
$biscay: #193a70;
$boulder: #7c7b7b;
$cinderella: #fce4d7;
$cerulean-blue: #2557a7;
$gallery: #eee;
$mine-shaft: #303030;
$mercury: #e7e6e6;
$trinidad: #f15100;
$white: #fff;

// transition duration
$duration-fast: .2s;
$duration-default: .4s;
$duration-slow: .6s;

// shadow
$shadow-default: 0 2px 4px 0 rgba($black, .25);
