@import "../../../../assets/styles/variables";

.video-of-week {
  padding-top: 68px;
  padding-bottom: 84px;
  background-color: $cerulean-blue;
  color: $white;

  @media screen and (max-width: $bp-tablet) {
    padding-top: 44px;
    padding-bottom: 24px;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__wrapper {
    position: relative;
    width: 660px;
    height: 371px;
    margin-top: 56px;
    transition-duration: $duration-fast;
    color: rgba($black, .8);
    box-shadow: 1px 20px 50px 0 rgba($black, .63);
    cursor: pointer;

    @media screen and (max-width: $bp-tablet) {
      width: 100vw;
      height: 56vw;
      margin: 36px -12px 0;
      box-shadow: none;
    }

    &:hover {
      color: $trinidad;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: inherit;
      cursor: pointer;
    }
  }

  &__preview {
    width: 100%;
    height: 100%;
  }

  &__text {
    max-width: 655px;
    margin-top: 48px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    @media screen and (max-width: $bp-tablet) {
      margin: 32px -12px 0;
      padding: 0 24px;
      font-size: 14px;
      line-height: 20px;
    }

    a {
      border-bottom: 1px solid $white;
      color: $white;
      line-height: 18px;
    }
  }
}
