<div class="video-of-week">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 __column __align-center">
        <h2 class="video-of-week__title">
            <mat-icon svgIcon="videocam" class="__s16 __mr16"></mat-icon>
            {{'main-page.video-of-week.title' | translate}}
        </h2>

        <div class="video-of-week__wrapper" (click)="showVideo()">
          <picture>
            <source class="video-of-week__preview" [srcset]="previewUrlWebp" type="image/webp">
            <img class="video-of-week__preview" [src]="previewUrl" [alt]="'main-page.video-of-week.title' | translate">
          </picture>
          <button class="video-of-week__video-btn">
            <mat-icon svgIcon="youtube" class="__s68"></mat-icon>
          </button>
          <iframe class="video-of-week__video"
                  *ngIf="isVideoVisible"
                  src="https://www.youtube.com/embed/CF38tgE6udg?autoplay=1"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
          </iframe>
        </div>

        <p class="video-of-week__text" [innerHTML]="'main-page.video-of-week.text' | translate | safeHtml"></p>
      </div>
    </div>
  </div>
</div>
