@import "variables";

:host {
  display: flex;
  width: 100%;
  height: $details-line-height;
  box-sizing: border-box;

  @media screen and (max-width: $bp-sm) {
    height: 124px;
  }
}

.menu-details {
  display: flex;
  width: 100%;
  padding: 12px 0;
  border-top: 1px solid $gallery;
  background-color: $alabaster;

  &.__disabled {
    position: relative;
    opacity: .4;

    &:after {
      position: fixed;
      width: 100%;
      height: $details-line-height;
      margin-top: -12px;
      content: "";
      z-index: 9999;
    }
  }

  &.__fixed {
    position: fixed;
    top: $header-height;
    border-top: 0;
    border-bottom: 1px solid $gallery;
    z-index: 90;

    @media screen and (max-width: $bp-md) {
      top: $header-height-mob;
    }
  }

  &.__additional {
    background-color: $bridal-heath;
  }

  &__price {
    display: inline-flex;
    align-items: center;
    padding-top: 4px;
    padding-left: 32px;
    color: $shaft;
    font-size: 24px;
    line-height: 28px;

    @media screen and (max-width: $bp-md) {
      padding-left: 16px;
    }

    @media screen and (max-width: $bp-sm) {
      margin-left: auto;
    }

    @media screen and (max-width: 350px) {
      margin-left: auto;
      padding-left: 0;
      font-size: 18px;
    }

    &-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 17px;
      height: 17px;
      margin-left: 8px;
      border: 1px solid $cerulean-blue;
      border-radius: 50%;
      background-color: $selago;
      color: $cerulean-blue;
      font-family: $ffns;
      font-size: 13px;
      cursor: pointer;

      @media screen and (max-width: 350px) {
        width: 13px;
        height: 13px;
        margin-left: 4px;
        font-size: 10px;
      }
    }
  }

  &__actions {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;

    @media screen and (max-width: $bp-md) {
      padding-left: 16px;
    }

    @media screen and (max-width: $bp-sm) {
      padding: 16px 0 0;
    }
  }
}
